/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  width: 100%;
  float: left;
}
/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
/* -------- GRID SETTINGS --------- */
/* -------- GLOBAL COLOR SCHEME --------- */
/* theme colors */
/* -------- GLOBAL LAYOUT --------- */
.hide {
  display: none;
}
.container {
  margin: 0 auto;
  width: 960px;
  position: relative;
}
.tagline {
  display: inline;
  float: left;
  overflow: hidden;
  width: 940px;
  margin: 0 10px;
  text-align: center;
  margin-bottom: 20px;
  font-family: "myriad-pro", Arial, sans-serif;
  font-weight: lighter;
  padding-bottom: 20px;
  border-bottom: 1px dotted #666666;
}
.iconic {
  display: inline-block;
  font-family: "IconicStroke";
}
strong {
  font-weight: bold;
}
.down-arrow {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #919191;
  height: 0;
  width: 0;
}
.up-arrow {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #919191;
  height: 0;
  width: 0;
}
blockquote {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #222222;
  color: #EEE9E9;
  font-size: 21px;
  line-height: 32px;
  padding: 20px;
}
.testimonial {
  margin-top: 20px;
  float: left;
  width: 100%;
}
.testimonial .quote-bubble {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 2px 1px #999999;
  -moz-box-shadow: 0 2px 1px #999999;
  box-shadow: 0 2px 1px #999999;
  background: #ffffff;
  width: 90%;
  margin: 0 auto;
}
.testimonial .quote-bubble p {
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
  font: 14px/18px "myriad-pro", Arial, sans-serif;
}
.testimonial .quote-arrow {
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #fff;
  position: relative;
  left: 55px;
}
.testimonial .quoter {
  margin-top: 10px;
  font: 12px/18px Arial, sans-serif;
}
.testimonial .quoter .company,
.testimonial .quoter .persons-name {
  text-indent: 45px;
}
.testimonial .quoter .company {
  font-weight: bold;
}
.nav-but ul li {
  float: left;
  text-align: center;
  font: 0.6em/1em "myriad-pro", arial, sans-serif;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05), 0 1px 0 rgba(255, 255, 255, 0.12) inset, 0 -9px 9px rgba(0, 0, 0, 0.3) inset;
  border: 1px solid rgba(0, 0, 0, 0.51);
}
.nav-but ul li * {
  margin: 10px auto;
}
.section-nav ul li {
  width: 29%;
  height: 28px;
  text-transform: uppercase;
  cursor: pointer;
}
.section-nav ul li a,
.section-nav ul li a:visited {
  text-decoration: none;
  color: #000000;
}
.section-nav ul li.up {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 25%;
}
.section-nav ul li.down {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 25%;
}
.section-nav ul li.top {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-left: 20px;
  padding-top: 8px;
  height: 20px;
  text-indent: 2px;
}
#about .section-nav ul li.top a {
  color: #666666;
}
/* -------- PAGE TEMPLATE --------- */
body {
  margin: 0;
  padding: 0;
  color: #191919;
  font: 1.2em/1.5em Arial, Helvetica, sans-serif;
}
#navigation,
#intro,
#about,
#skills,
#work,
#resources,
#page-footer {
  float: left;
  width: 100%;
  padding: 40px 0;
}
#navigation header h1,
#intro header h1,
#about header h1,
#skills header h1,
#work header h1,
#resources header h1,
#page-footer header h1,
#navigation header h2,
#intro header h2,
#about header h2,
#skills header h2,
#work header h2,
#resources header h2,
#page-footer header h2 {
  font-family: "proxima-nova", arial, sans-serif;
  letter-spacing: -2px;
  text-shadow: 0 1px 0 #FEFEFE;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 20px;
}
#navigation header h1,
#intro header h1,
#about header h1,
#skills header h1,
#work header h1,
#resources header h1,
#page-footer header h1 {
  font-size: 64px;
  line-height: 64px;
  font-weight: 900;
  line-height: 64px;
}
#navigation header h2,
#intro header h2,
#about header h2,
#skills header h2,
#work header h2,
#resources header h2,
#page-footer header h2 {
  font-size: 42px;
  line-height: 42px;
  font-weight: 900;
  text-indent: 10px;
}
#navigation header h3,
#intro header h3,
#about header h3,
#skills header h3,
#work header h3,
#resources header h3,
#page-footer header h3,
#navigation header h4,
#intro header h4,
#about header h4,
#skills header h4,
#work header h4,
#resources header h4,
#page-footer header h4,
#navigation header h5,
#intro header h5,
#about header h5,
#skills header h5,
#work header h5,
#resources header h5,
#page-footer header h5 {
  font-weight: bold;
}
#resourcesAnchor,
#workAnchor,
#aboutAnchor,
#skillsAnchor {
  margin-bottom: 20px;
  display: block;
  width: 10px;
  height: 10px;
}
#masthead {
  position: fixed;
  z-index: 2000;
  top: 0;
}
#contact {
  float: left;
  width: 100%;
  background: #1a1a1a;
  height: 1px;
}
#contact #say_hi {
  padding-top: 20px;
  font: 12px/14px "Arial", sans-serif;
}
#contact #say_hi h2,
#contact #say_hi h3 {
  font: 28px/30px "proxima-nova", arial, sans-serif;
  font-weight: normal;
}
#contact #say_hi h3 {
  font-size: 18px;
  line-height: 21px;
  color: #666666;
}
#contact #say_hi #contact_form {
  display: inline;
  float: left;
  overflow: hidden;
  width: 540px;
  margin: 0 10px;
  display: inline-block;
  overflow: hidden;
  width: 580px;
  margin: 0 -10px;
  background: #c6c6c6;
  height: 320px;
}
#contact #say_hi #contact_form h2,
#contact #say_hi #contact_form p {
  margin-top: 15px;
  padding-left: 15px;
}
#contact #say_hi #contact_form label {
  display: inline;
  float: left;
  overflow: hidden;
  width: 140px;
  margin: 0 10px;
  text-align: right;
  margin-top: 10px;
  font-weight: bold;
  padding-top: 10px;
}
#contact #say_hi #contact_form label:after {
  content: ":";
}
#contact #say_hi #contact_form textarea.full,
#contact #say_hi #contact_form input.full {
  display: inline;
  float: left;
  overflow: hidden;
  width: 380px;
  margin: 0 10px;
  margin-top: 10px;
  border: none;
}
#contact #say_hi #contact_form textarea {
  background-color: #bcbcbc;
  -webkit-box-shadow: inset 0 10px 4px #bababa;
  -moz-box-shadow: inset 0 10px 4px #bababa;
  box-shadow: inset 0 10px 4px #bababa;
}
#contact #say_hi #contact_form input.dotted-line {
  border: none;
  border-bottom: 1px dashed #999;
  background: none;
  height: 22px;
}
#contact #say_hi #contact_form input.cta {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 -20px 20px #31343b;
  -moz-box-shadow: inset 0 -20px 20px #31343b;
  box-shadow: inset 0 -20px 20px #31343b;
  padding-top: 5px;
  width: 60px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.51);
  color: #ffffff;
  background-color: #666666;
  text-align: center;
  position: relative;
  top: 20px;
  left: 495px;
}
#contact #say_hi #reach {
  display: inline;
  float: left;
  overflow: hidden;
  width: 380px;
  margin: 0 10px;
  color: #ffffff;
}
#contact #say_hi #reach .inner {
  width: 90%;
  margin: 10px auto;
}
#contact #say_hi #reach .inner li {
  margin-top: 13px;
}
#contact #say_hi #reach .inner li span {
  display: inline-block;
  text-indent: -999em;
  width: 20px;
  height: 16px;
  background: url(/images/layout/icons/size16x16/facebook_16.png) no-repeat left center transparent;
}
#contact #say_hi #reach .inner li span.email,
#contact #say_hi #reach .inner li span.mobile {
  width: 50px;
  color: #C6C6C6;
  background: none;
  text-indent: 0;
}
#contact #say_hi #reach .inner li span:after {
  content: ":";
}
#contact #say_hi #reach .inner hr {
  border: none;
  border-bottom: 1px solid #666666;
  margin: 20px 0 30px;
  width: 80%;
}
#navigation {
  height: 40px;
  background: #31343b;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #272727), color-stop(1, #31343b));
  background: -ms-linear-gradient(bottom, #272727, #31343b);
  background: -moz-linear-gradient(center bottom, #272727 0%, #31343b 100%);
  border-bottom: 1px solid #666666;
  padding: 0;
  bottom: 0;
}
#navigation #logo {
  position: absolute;
  left: -75px;
  top: 0;
  height: 100px;
  width: 90px;
  z-index: 10000;
}
#navigation #logo img {
  width: 80%;
  margin: 0 auto;
}
#navigation nav.main-nav {
  float: left;
  width: 600px;
  margin-left: 20px;
}
#navigation nav.main-nav ul li {
  float: left;
  margin: 0;
}
#navigation nav.main-nav ul li a {
  display: block;
  height: 18px;
  width: 90px;
  padding: 10px 0 0;
  text-align: center;
  text-decoration: none;
  color: #999999;
  font: 0.7em/1em "myriad-pro", arial, sans-serif;
  height: 31px;
}
#navigation nav.main-nav ul li a:hover {
  -moz-transition-duration: 0.15s;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  color: #4c92d6;
  text-shadow: 0 1px #333;
}
#navigation nav.main-nav ul li a.selected {
  border-left: 1px solid #666666;
  border-right: 1px solid #666666;
  -webkit-box-shadow: inset 0 -5px 5px #1a1a1a;
  -moz-box-shadow: inset 0 -5px 5px #1a1a1a;
  box-shadow: inset 0 -5px 5px #1a1a1a;
  color: #ffffff;
  background-color: #222222;
  text-shadow: none;
}
#navigation nav.main-nav ul li a#work_button.selected,
#navigation nav.main-nav ul li a#resources_button.selected {
  color: #000000;
  background-color: #f5eeed;
  -webkit-box-shadow: inset 0 -30px 20px #dedede;
  -moz-box-shadow: inset 0 -30px 20px #dedede;
  box-shadow: inset 0 -30px 20px #dedede;
}
#navigation nav.main-nav ul li a#welcome_button.selected {
  color: #ffffff;
  text-shadow: 0 2px #090909;
  background: url(/images/layout/grey.tile.bkg.jpg) repeat 0 0 transparent;
  -webkit-box-shadow: 0 0 0 #000000;
  -moz-box-shadow: 0 0 0 #000000;
  box-shadow: 0 0 0 #000000;
}
#navigation nav.main-nav ul li a#skills_button.selected {
  color: #000000;
  background: url(/images/layout/bg_page-diamond.gif) repeat center center transparent;
  -webkit-box-shadow: 0 0 0 #000000;
  -moz-box-shadow: 0 0 0 #000000;
  box-shadow: 0 0 0 #000000;
}
#navigation nav.contact-nav {
  float: right;
  position: relative;
  top: 8px;
  width: 100px;
}
#navigation nav.contact-nav .email {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font: 12px "myriad-pro", Arial, sans-serif;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #333;
  background-color: #1a1a1a;
  float: left;
  margin-right: 5px;
  padding-top: 2px;
  height: 1.0em;
}
#navigation nav.contact-nav .email a {
  color: #ffffff;
  text-decoration: none;
}
#navigation nav.contact-nav .email a:hover {
  color: #4c92d6;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#navigation nav.contact-nav .email a {
  color: #ffffff;
  font: 12px/14px "myriad-pro", arial, sans-serif;
}
#navigation nav.contact-nav .email a span.iconic {
  display: inline-block;
  width: 15px;
  height: 10px;
  vertical-align: middle;
  margin-top: -5px;
}
#navigation nav.contact-nav .email a:hover {
  color: #4c92d6;
}
#navigation nav.contact-nav .email.collapsed a {
  color: #999999;
}
#navigation nav.contact-nav .email.collapsed a:hover {
  color: #4c92d6;
}
#intro {
  background-color: #60bcd6;
  color: #ffffff;
  border-top: 1px solid #1a1a1a;
  border-bottom: 1px solid #1a1a1a;
  background-image: url(/images/layout/thinking-me.png), url(/images/layout/grey.tile.bkg.jpg);
  background-position: center bottom, 0 0;
  background-repeat: no-repeat, repeat;
  padding: 60px 0 0;
  position: relative;
}
#intro a {
  color: #e8a240;
}
#intro a:hover {
  color: #97e87d;
}
#intro #welcomeAnchor {
  position: absolute;
  top: 0;
  left: 0;
}
#intro header {
  display: inline;
  float: left;
  overflow: hidden;
  width: 940px;
  margin: 0 10px;
}
#intro header h1 {
  text-align: center;
  font-size: 7.2em;
  line-height: 0.8em;
  margin-bottom: 20px;
  text-shadow: 0 1px #ADADAD;
  color: #242424;
}
#intro header h1 span {
  font-size: 0.25em;
  color: #fefefe;
  display: block;
  text-shadow: 0 2px #090909;
  text-align: center;
  margin-bottom: 20px;
  line-height: 1em;
  font-weight: normal;
}
#intro header p {
  font: 1.7em/1.2em "myriad-pro", Arial, sans-serif;
  color: #fefefe;
  font-weight: bold;
  text-shadow: 0 2px #090909;
  text-align: center;
  margin-bottom: 20px;
}
#intro #animation {
  display: inline;
  float: left;
  overflow: hidden;
  width: 940px;
  margin: 0 10px;
  margin: 20px 0 0  ;
  background: url(/images/layout/thinkcloud.png) no-repeat center top transparent;
  padding-top: 40px;
  height: 180px;
  position: relative;
}
#intro #animation #clock {
  position: absolute;
  top: 3px;
  z-index: 200;
  height: 150px;
  width: 150px;
  background: url(/images/layout/clock-animation.gif) no-repeat center center;
  left: 400px;
}
#intro #animation ul {
  width: 800px;
  position: relative;
  left: 70px;
}
#intro #animation ul li {
  display: block;
  height: 75px;
  width: 275px;
  position: relative;
}
#intro #animation ul li .show-number,
#intro #animation ul li .show-side {
  padding: 5px;
  font: 21px/24px "myriad-pro", arial, sans-serif;
  font-style: italic;
  text-transform: uppercase;
}
#intro #animation ul li.designer_side {
  float: right;
  right: 400px;
  background-color: #4c92d6;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 40px;
  -webkit-border-top-left-radius: 40px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 40px;
  -moz-border-radius-topleft: 40px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#intro #animation ul li.designer_side .show-number,
#intro #animation ul li.designer_side .show-side {
  text-align: left;
  float: left;
  width: 100%;
  color: #60bcd6;
  margin-left: 15px;
}
#intro #animation ul li.developer_side {
  float: left;
  background-color: #e8a240;
  -webkit-border-top-right-radius: 40px;
  -webkit-border-bottom-right-radius: 40px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 40px;
  -moz-border-radius-bottomright: 40px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  left: 400px;
}
#intro #animation ul li.developer_side .show-number,
#intro #animation ul li.developer_side .show-side {
  float: right;
  text-align: right;
  color: #f2efa9;
  width: 100%;
  margin-right: 15px;
}
#intro article {
  display: inline;
  float: left;
  overflow: hidden;
  width: 940px;
  margin: 0 10px;
  position: relative;
  padding: 85px 0 18px;
  background-image: url(/images/layout/badge-2.png), url(/images/layout/badge-1.png);
  background-position: 60px top, 780px top;
  background-repeat: no-repeat, no-repeat;
  display: inline-block;
  overflow: hidden;
  width: 979.9999999999999px;
  margin: 0 -10px;
}
#intro article h2 {
  text-shadow: 0 2px #090909;
  text-transform: capitalize;
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 10px;
  color: #f5eeed;
}
#intro article div {
  display: inline;
  float: left;
  overflow: hidden;
  width: 380px;
  margin: 0 10px;
}
#intro article .design p,
#intro article .development p {
  width: 80%;
}
#intro article .development p,
#intro article .development h2 {
  text-align: right;
  float: right;
}
#intro article .development {
  margin-left: 190px;
}
#skills {
  background: #f5eeed;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dedede), color-stop(1, #f5eeed));
  background: -ms-linear-gradient(bottom, #dedede, #f5eeed);
  background: -moz-linear-gradient(center bottom, #dedede 0%, #f5eeed 100%);
  background: url(/images/layout/bg_page-diamond.gif) repeat center center transparent;
  border-bottom: 10px solid #cecece;
  border-top: 10px solid #eae4e3;
  padding-bottom: 0;
}
#skills header {
  display: inline;
  float: left;
  overflow: hidden;
  width: 780px;
  margin: 0 10px;
}
#skills header p {
  font-family: "myriad-pro", arial, sans-serif;
  font-weight: lighter;
  text-align: center;
}
#skills .section-nav {
  display: inline;
  float: left;
  overflow: hidden;
  width: 140px;
  margin: 0 10px;
}
#skills #chart_holder {
  display: inline;
  float: left;
  overflow: hidden;
  width: 940px;
  margin: 0 10px;
  margin-bottom: 40px;
  background: url(/images/layout/chart-background.png) no-repeat 290px bottom transparent;
  height: 300px;
}
#skills article {
  display: inline;
  float: left;
  overflow: hidden;
  width: 620px;
  margin: 0 10px;
  display: inline-block;
  overflow: hidden;
  width: 660px;
  margin: 0 -10px;
}
#skills article * {
  width: 90%;
  margin: 10px auto;
}
#skills article h3,
#skills article h4,
#skills article h5 {
  font-weight: bold;
}
#skills article h4 {
  margin: 20px 0 0 10px;
  text-transform: uppercase;
  padding: 5px;
  background-color: #ccc;
  color: #666666;
}
#skills article div {
  display: inline;
  float: left;
  overflow: hidden;
  width: 300px;
  margin: 0 10px;
  font-size: 80%;
}
#skills aside {
  display: inline;
  float: left;
  overflow: hidden;
  width: 300px;
  margin: 0 10px;
}
#skills #process {
  display: inline;
  float: left;
  overflow: hidden;
  width: 940px;
  margin: 0 10px;
  background: url(/images/layout/terence-drawing.png) no-repeat right bottom transparent;
  height: 347px;
}
#skills #process #process_diagram {
  display: inline;
  float: left;
  overflow: hidden;
  width: 620px;
  margin: 0 10px;
  background: red;
  height: 300px;
}
#about {
  background-color: #222222;
  border-bottom: 10px solid #020202;
  border-top: 10px solid #020202;
  color: #f5eeed;
  font-weight: 100;
}
#about header {
  display: inline;
  float: left;
  overflow: hidden;
  width: 780px;
  margin: 0 10px;
}
#about header h2 {
  color: #ccc;
  text-shadow: 2px 1px 4px #000000;
}
#about header p {
  text-align: center;
}
#about .section-nav {
  display: inline;
  float: left;
  overflow: hidden;
  width: 140px;
  margin: 0 10px;
}
#about article {
  display: inline;
  float: left;
  overflow: hidden;
  width: 620px;
  margin: 0 10px;
}
#about article * {
  margin: 10px auto;
  margin-bottom: 30px;
}
#about article h3 {
  font-weight: bold;
  margin-bottom: 15px;
}
#about article p {
  font-size: 86%;
  text-shadow: 0 1px 1px #000;
}
#about article blockquote {
  background-color: #020202;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#about article a {
  color: #e8a240;
}
#about article a:hover {
  color: #60bcd6;
}
#about aside {
  display: inline;
  float: left;
  overflow: hidden;
  width: 300px;
  margin: 0 10px;
}
#about aside .inner {
  margin: 0 auto;
  width: 85%;
}
#about aside .inner div {
  margin-bottom: 20px;
}
#about aside .inner div h2 {
  color: #ccc;
  text-shadow: 0 1px 1px #000;
}
#about aside .inner div li,
#about aside .inner div p {
  font-size: 72.6%;
}
#about aside .inner div li {
  border-bottom: 1px dotted #ffffff;
  padding: 5px 0;
}
#about #spend-time ul {
  display: inline;
  float: left;
  overflow: hidden;
  width: 940px;
  margin: 0 10px;
  display: inline-block;
  overflow: hidden;
  width: 979.9999999999999px;
  margin: 0 -10px;
}
#about #spend-time ul li {
  display: inline;
  float: left;
  overflow: hidden;
  width: 460px;
  margin: 0 10px;
  margin-bottom: 20px;
}
#about #spend-time ul li .topic {
  float: left;
  width: 350px;
  text-indent: 20px;
  padding-top: 35px;
}
#about #spend-time ul li .css-chart {
  float: left;
  position: relative;
  width: 100px;
  height: 100px;
}
#about #spend-time ul li .css-chart .pie {
  background-color: #1a1a1a;
  border-color: #1a1a1a;
  position: absolute;
  width: 100px;
  height: 100px;
  clip: rect(0, 50px, 100px, 0);
  border-radius: 100px;
}
#about #spend-time ul li .css-chart .pie.subject {
  left: 1px;
}
#about #spend-time ul li .css-chart .half-left {
  -moz-transform: rotate(0deg) !important;
  -webkit-transform: rotate(0deg) !important;
  -o-transform: rotate(0deg) !important;
  transform: rotate(0deg) !important;
}
#about #spend-time ul li .css-chart .inner {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 25px;
  left: 25px;
}
#about #spend-time ul li .css-chart .inner span {
  position: relative;
  top: 10px;
  font-size: 18px;
  text-align: center;
  display: block;
  text-transform: uppercase;
}
#about #spend-time ul li .css-chart .pie.inner {
  background-color: #222222;
  border-color: #222222;
  border-radius: 100px;
  clip: auto;
  width: 50px;
  height: 50px;
}
#about #spend-time ul #post_social .half-right {
  -webkit-transform: rotate(-178deg);
  -moz-transform: rotate(-178deg);
  transform: rotate(-178deg);
}
#about #spend-time ul #post_social .subject {
  background-color: #97e87d;
  border-color: #97e87d;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  transform: rotate(2deg);
}
#about #spend-time ul #post_social .inner span,
#about #spend-time ul #post_social .topic {
  color: #97e87d;
}
#about #spend-time ul #travel .half-right {
  -webkit-transform: rotate(-175deg);
  -moz-transform: rotate(-175deg);
  transform: rotate(-175deg);
}
#about #spend-time ul #travel .subject {
  background-color: #60bcd6;
  border-color: #60bcd6;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  transform: rotate(5deg);
}
#about #spend-time ul #travel .inner span,
#about #spend-time ul #travel .topic {
  color: #60bcd6;
}
#about #spend-time ul #read_feeds .half-right {
  -webkit-transform: rotate(-140deg);
  -moz-transform: rotate(-140deg);
  transform: rotate(-140deg);
}
#about #spend-time ul #read_feeds .subject {
  background-color: #d84f5f;
  border-color: #d84f5f;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  transform: rotate(40deg);
}
#about #spend-time ul #read_feeds .inner span,
#about #spend-time ul #read_feeds .topic {
  color: #d84f5f;
}
#about #spend-time ul #get_snacks .half-right {
  -webkit-transform: rotate(-105deg);
  -moz-transform: rotate(-105deg);
  transform: rotate(-105deg);
}
#about #spend-time ul #get_snacks .subject {
  background-color: #e8a240;
  border-color: #e8a240;
  -webkit-transform: rotate(75deg);
  -moz-transform: rotate(75deg);
  transform: rotate(75deg);
}
#about #spend-time ul #get_snacks .inner span,
#about #spend-time ul #get_snacks .topic {
  color: #e8a240;
}
#about #spend-time ul #check_gmail .half-right {
  -webkit-transform: rotate(-140deg);
  -moz-transform: rotate(-140deg);
  transform: rotate(-140deg);
}
#about #spend-time ul #check_gmail .subject {
  background-color: #97e87d;
  border-color: #97e87d;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  transform: rotate(40deg);
}
#about #spend-time ul #check_gmail .inner span,
#about #spend-time ul #check_gmail .topic {
  color: #97e87d;
}
#about #spend-time ul #read_gmail .half-right {
  -webkit-transform: rotate(-105deg);
  -moz-transform: rotate(-105deg);
  transform: rotate(-105deg);
}
#about #spend-time ul #read_gmail .subject {
  background-color: #60bcd6;
  border-color: #60bcd6;
  -webkit-transform: rotate(75deg);
  -moz-transform: rotate(75deg);
  transform: rotate(75deg);
}
#about #spend-time ul #read_gmail .inner span,
#about #spend-time ul #read_gmail .topic {
  color: #60bcd6;
}
#about #spend-time ul #design_something .half-right {
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  transform: rotate(-40deg);
}
#about #spend-time ul #design_something .subject {
  background-color: #d84f5f;
  border-color: #d84f5f;
  -webkit-transform: rotate(140deg);
  -moz-transform: rotate(140deg);
  transform: rotate(140deg);
}
#about #spend-time ul #design_something .inner span,
#about #spend-time ul #design_something .topic {
  color: #d84f5f;
}
#about #spend-time ul #develop_something .half-right {
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  transform: rotate(-40deg);
}
#about #spend-time ul #develop_something .subject {
  background-color: #e8a240;
  border-color: #e8a240;
  -webkit-transform: rotate(140deg);
  -moz-transform: rotate(140deg);
  transform: rotate(140deg);
}
#about #spend-time ul #develop_something .inner span,
#about #spend-time ul #develop_something .topic {
  color: #e8a240;
}
#work {
  background: #f5eeed;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dedede), color-stop(1, #f5eeed));
  background: -ms-linear-gradient(bottom, #dedede, #f5eeed);
  background: -moz-linear-gradient(center bottom, #dedede 0%, #f5eeed 100%);
  border-bottom: 10px solid #cecece;
}
#work header {
  display: inline;
  float: left;
  overflow: hidden;
  width: 780px;
  margin: 0 10px;
}
#work .section-nav {
  display: inline;
  float: left;
  overflow: hidden;
  width: 140px;
  margin: 0 10px;
}
#work #project_filter,
#work #projects {
  display: inline;
  float: left;
  overflow: hidden;
  width: 940px;
  margin: 0 10px;
}
#work #project_filter ul {
  padding: 0 0 30px 35px;
}
#work #project_filter ul li {
  height: 30px;
  padding-top: 15px;
  border-right: 1px solid #999;
  border-left: 1px solid #111;
  border-top: none;
  border-bottom: none;
  width: 18%;
  /*background: url(/images/layout/nav-seperator.gif) right center transparent;*/

  background: #31343b;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #31343b), color-stop(1, #222222));
  background: -ms-linear-gradient(bottom, #31343b, #222222);
  background: -moz-linear-gradient(center bottom, #31343b 0%, #222222 100%);
}
#work #project_filter ul li a {
  padding: 0 10px;
  color: #f5eeed;
  text-decoration: none;
  font-size: 14px;
}
#work #project_filter ul li a:hover {
  color: #e8a240;
}
#work #project_filter ul li:first-child {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#work #project_filter ul li:last-child {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#work #projects {
  margin-top: 10px;
  padding: 18px 0;
  margin: 0;
  display: inline;
  float: left;
  overflow: hidden;
  width: 940px;
  margin: 0 10px;
  display: inline-block;
  overflow: hidden;
  width: 979.9999999999999px;
  margin: 0 -10px;
}
#work #projects li {
  display: inline;
  float: left;
  overflow: hidden;
  width: 300px;
  margin: 0 10px;
  margin: 0 10px 20px 10px;
}
#work #projects li div {
  margin: 0 auto;
}
#work #projects li div.thumb {
  background: #666666;
  height: 165px;
}
#work #projects li div.title {
  background: #1a1a1a;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  height: 20px;
  padding: 10px;
  text-alignt: left;
  color: #ffffff;
  font: 0.6em/1em "myriad-pro", arial, sans-serif;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
}
#work #projects li div.title a {
  text-decoration: none;
  color: #97e87d;
  text-align: right;
}
#work #projects li div.title a:hover {
  color: #4c92d6;
}
#resources {
  background: #f5eeed;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dedede), color-stop(1, #f5eeed));
  background: -ms-linear-gradient(bottom, #dedede, #f5eeed);
  background: -moz-linear-gradient(center bottom, #dedede 0%, #f5eeed 100%);
  border-bottom: 10px solid #cecece;
}
#resources header {
  display: inline;
  float: left;
  overflow: hidden;
  width: 780px;
  margin: 0 10px;
}
#resources .section-nav {
  display: inline;
  float: left;
  overflow: hidden;
  width: 140px;
  margin: 0 10px;
}
#resources #library {
  display: inline;
  float: left;
  overflow: hidden;
  width: 940px;
  margin: 0 10px;
  display: inline-block;
  overflow: hidden;
  width: 979.9999999999999px;
  margin: 0 -10px;
}
#resources #library div {
  display: inline;
  float: left;
  overflow: hidden;
  width: 300px;
  margin: 0 10px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-top: solid 1px #333333;
  border-left: solid 1px #333333;
  border-right: solid 1px #333333;
  border-bottom: solid 1px #444444;
  text-align: center;
  background-color: #020202;
  height: 150px;
  margin-bottom: 20px;
  color: #ffffff;
  font-family: "myriad-pro", Arial, sans-serif;
}
#resources #library div a {
  text-decoration: none;
  color: #fff;
}
#resources #library div span {
  font-size: 48px;
  display: block;
  margin: 30px 0 10px;
  line-height: 52px;
}
#resources #library div:nth-child(odd) a:hover {
  color: #e8a240;
}
#resources #library div:nth-child(even) a:hover {
  color: #60bcd6;
}
#page-footer {
  background-color: #202020;
  color: #666666;
  font: 12px/14px Arial, sans-serif;
  padding: 0;
}
#page-footer a {
  color: #bdb791;
}
#page-footer a:hover {
  color: #ffffff;
}
#page-footer .page-summary {
  display: inline;
  float: left;
  overflow: hidden;
  width: 940px;
  margin: 0 10px;
  border-bottom: 1px solid #0c0c0c;
  padding-bottom: 20px;
  display: inline-block;
  overflow: hidden;
  width: 979.9999999999999px;
  margin: 0 -10px;
}
#page-footer .page-summary div {
  display: inline;
  float: left;
  overflow: hidden;
  width: 300px;
  margin: 0 10px;
  display: inline;
  float: left;
  overflow: hidden;
  width: 300px;
  margin: 0 10px;
  display: inline-block;
  overflow: hidden;
  width: 340px;
  margin: 0 -10px;
}
#page-footer .page-summary div img {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: inline;
  float: left;
  overflow: hidden;
  width: 60px;
  margin: 0 10px;
}
#page-footer .page-summary div p {
  display: inline;
  float: left;
  overflow: hidden;
  width: 220px;
  margin: 0 10px;
  color: #f5eeed;
  line-height: 1.7em;
}
#page-footer .page-summary div h2 {
  height: 20px;
  background-color: #1a1a1a;
  height: 20px;
  border-left: 8px solid #333333;
  padding: 10px 0;
  text-indent: 20px;
  margin-bottom: 10px;
  text-shadow: none;
  color: #ffffff;
  letter-spacing: .1em;
  font: 1.3em/1em normal "myriad-pro", Arial, sans-serif;
  text-transform: uppercase;
}
#page-footer .page-summary div li {
  padding: 4px 0;
  color: #ffffff;
  margin-left: 20px;
}
#page-footer .page-summary div li .check {
  color: #97e87d;
  margin-right: 10px;
}
#page-footer footer {
  display: inline;
  float: left;
  overflow: hidden;
  width: 940px;
  margin: 0 10px;
  border-top: 1px solid #666666;
  padding-top: 20px;
  height: 40px;
  display: inline-block;
  overflow: hidden;
  width: 979.9999999999999px;
  margin: 0 -10px;
}
#page-footer footer #copyright {
  display: inline;
  float: left;
  overflow: hidden;
  width: 460px;
  margin: 0 10px;
}
#page-footer footer #rss {
  display: inline;
  float: left;
  overflow: hidden;
  width: 220px;
  margin: 0 10px;
  background: url("/images/layout/rss.gif") no-repeat scroll 55px center transparent;
}
#page-footer footer #valid {
  display: inline;
  float: left;
  overflow: hidden;
  width: 220px;
  margin: 0 10px;
}
@media screen and (max-width: 768px) {
  #maincolumn,
  #sidebar {
    display: inline;
    float: left;
    overflow: hidden;
    width: 620px;
    margin: 0 10px;
    margin-bottom: 1em;
  }
}
@media screen and (max-width: 320px) {
  #maincolumn,
  #sidebar {
    display: inline;
    float: left;
    overflow: hidden;
    width: 620px;
    margin: 0 10px;
    margin-bottom: 1em;
  }
}
