/* -------- COLORS --------- */

@white: #fff;
@light-beige: #f5eeed;
@dark-beige: #dedede;
@gray: #666666;
@flat-gray: #31343B;
@charcoal: #222222;
@smoke-gray: #202020;
@dark-gray: #1A1A1A;
@black: #000;
@yellow: #F2EA76;
@light-yellow: #f2efa9;
@green: #97E87D;
@blue: #60BCD6;
@ming-blue: #4C92D6;
@red: #D84F5F;
@orange: #E8A240;

/* -------- COLOR SCHEME --------- */

@text: @dark-gray;
@link: @green;

@footer-background: @smoke-gray;

/* -------- GLOBALCSS -------- */

.iconic { // load iconic webfonts
    display:inline-block;
    font-family: "IconicStroke";
}

hr {
  border: none;
  border-bottom: 1px solid @gray;
  margin: 20px 0;
  width: 100%;
}

